@font-face {
  font-family: "Red October";
  src: local("Red October"), url(./fonts/red-october.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Red October", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Red October", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

button {
  font-family: "Red October";
  background-color: #282c30;
  color: white;
  border: double;
  padding: 16px;
  font-size: calc(8px + 2vmin);
  border-radius: 2px;
  transition: color 0.8s ease;
  cursor: pointer;
}

button:disabled {
  color: red;
  cursor: default;
}

button:active {
  background-color: white;
  color: #282c30;
  transition: background-color 0.5s ease;
  transition: color 0.2s ease;
}

/* button:hover {
  background-color: green;
  color: white;
}

button:hover button:disabled {
  background-color: red;
  color: white;
} */
